/* color */
$primary-color: #FFD743;
$hover-effect-color: #ffe37b;
$white: #ffffff;

/* font */
$font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
